@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @keyframes fade-in {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slide-in-right {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

.animate-fade-in { animation: fade-in 1s ease-out; }
.animate-slide-in-right { animation: slide-in-right 1s ease-out 0.3s both; } */
:root{
  font-family: var(--font-sans);

--color-primary:#0a233d;
}
